# Ignore macOS-specific files
.DS_Store

# Ignore Python cache and virtual environment files
pycache/
.venv/
env/
.env
.last_submission_id
__pycache__/
*.pyc

# Ignore the synchronization script itself
leetcode_sync.py
